$color-primary: #EF3340;
$color-green:#43B748;
$color-blue:#6F7DFF;
$color-gray: #A3ABCC;
$color-gray_titulos:#494F66;
$color-gray_paragrap:#676F8F;
$color-gray_background:#F7F8FC;
$color-gray_border:#C5CBE0;

$color-white:#ffffff;