$color-primary: #ef3340;
$color-green: #43b748;
$color-blue: #6f7dff;
$color-gray: #a3abcc;
$color-gray_light: #e4e8f7;
$color-gray_titulos: #494f66;
$color-gray_paragrap: #676f8f;
$color-gray_background: #f7f8fc;
$color-gray_border: #c5cbe0;
$color-acian: #6f7dff;

$color-white: #ffffff;
