form {
  h3 {
    font-size: 22px;
    color: $color-gray_titulos;
    font-weight: 400;
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .text_error {
    font-size: 11px;
    color: $color-primary;
    width: 288px;
  }
}

@media (max-width: 500px) {
  .cotiza_button {
    width: 296px;
    margin-left: 0px;
    margin-top: 20px;
    font-size: 14px;
  }
}
