.container-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px 100px;
  color: $color-gray;
  p{
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .container-footer {
    display: none;
  }
}
@media (max-width: 960px) {
  .container-footer {
    padding: 10px 20px;
  }
}
