.container_thanks {
  align-self: center;
  padding-top: 12px;
  .title_welcome {
    font-size: 26px;
    color: $color-primary;
  }

  h1 {
    font-size: 26px;
    color: $color-gray_titulos;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  .email {
    font-size: 12px;
  }
}
